h1{
    text-align: center;
    color: white;
    background-color: green;
    padding: 15px;
}

.img-1{
    width: 280px;
    height: auto;
    margin: 10px;
    float: left;
}

body{
    background-color: lightcyan;
}

.outer-border{
    border: solid;
    padding: 10px;
    border-color: green;
}